@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body {
    overflow-x: hidden;
}

@media (min-width:769px) {

    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        padding-top: 24px;
        width: 100%;
        background-color: rgb(235, 236, 237);
    }

    .container {
        margin-left: 108px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        padding: 16px 24px;
        height: 56px;
        max-width: 1135px;
        width: 90%;
        border-radius: 12px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        margin-left: 7%;
    }

    .burger {
        display: none;
    }

    .logo {
        min-width: 120px;
        font-family: Inter;
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }

    .text_color_blue {
        color: #2D66EE;
    }

    .header__menu {
        max-width: 314px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        height: 18px;
    }

    .menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .menu__item a {
        color: #101828;
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }

    .menu__item a:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 2px solid #2D66EE;
    }

    .header__contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        max-width: 500px;
    }

    .contacts__phone, .contacts__email {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contacts__phone {
        width: 100%;
        max-width: 250px;
    }

    .contacts__email {
        margin-left: 1%;
        width: 100%;
        max-width: 170px;
    }

    .image__email {
        height: 16;
        max-width: 20px;
    }

    .image__phone {
        height: 20px;
        max-width: 20px;
    }

    .contacts__info {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }




    .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 680px;
        background-color: rgb(235, 236, 237);
    }

    .main .container {
        max-width: 1700px;
        margin-top: 160px;
    }

    .main__description {
        width:600px;
        height:220px;
    }

    .header__text {
        font-size: 36px;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: 0.3px;
        text-align: left;
        font-family: Inter;
        color: rgba(16, 24, 40, 1);
    }


    .default__text{
        font-family: SFProText;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .main__feedback {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 676px;
        height: 186px;
        margin-top: 64px;
        margin-bottom: 270px;
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    }

    .main__feedback .subheader__text {
        width: 500px;
    }

    .subheader__text {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .feedback__form {
        display: flex;
        width: 628px;
        height: 58px;
        opacity: 0px;
    }

    .feedback__field {
        width: 224px;
        height: 54px;
    }

    .form__label {
        color: rgba(102, 112, 133, 1);
        font-family: SFProText;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

    }

    #feedback__phone {
        padding-left: 22px;
        margin-left: -1px;
        width: 175px;
        height: 30px;
        border: none;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback__name {
        width: 200px;
        height: 30px;
        border: none;
        margin-left: -2px;
        padding-left: 2px;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback_image {
        position: absolute;
        margin-top: 6px;
        width: 20px;
        height: 20px;
    }

    .feedback__button {
        width: 132px;
        height: 58px;
        border: none;
        background-color: #2D66EE;
        padding: 11px 24px;
        color: white;
        text-align: left;
        cursor: pointer;
        border-radius: 8px;
        font-family: SFProText;
        font-size: 14px;
        font-weight: 700;
    }

    .feedback__button:hover {
        background-color: #0f52ee;
    }

    .main__background__image {
        padding: 0;
        height: 1390px;
        overflow: hidden;
        margin-top: -1450px;
        margin-left: 750px;
    }

    .main__background {
        width: 660px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transform: rotate(-12deg);
    }

    .background__image {
        margin-bottom: 20px;
        width: 290px;
        height: auto;
        border-radius: 24px;
    }

    .main__image {
        width: 310px;
        box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.24),
            0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    }










    .development {
        width: 100%;
        height: 550px;
        background-color: white;
    }

    .development .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 80px;
        max-width: 890px;
    }

    .development__technologies {
        width: 496px;
        height: 200px;
    }

    .development .header__text {
        margin-bottom: 32px;
        margin-top: 0;
    }

    .development .default__text {
        margin-bottom: 34px;
    }

    .development__tools {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .tool {
        line-height: 1.1px;
    }

    .tool:after {
        content: " /\00A0";
        color: #2D66EE;
    }

    .tool:last-child:after {
        content: "";
    }

    .development__space {
        margin-top: 32px;
    }

    .development .subheader__text {
        margin-bottom: 23px;
    }

    .development__categories {
        width:233px;
        height: 300px;
    }

    .development__arrow {
        margin-left: 10px;
    }

    .development__list {
        margin: 0;
        list-style-type: none;
    }

    .development__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
    }

    .development__item a {
        color: black;
        text-decoration: none;
    }

    .development__item a:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid #2D66EE;
    }










    .faq {
        width:100%;
        height: 340px;
        background-color: white;
    }

    .faq .container {
        max-width: 1225px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .faq__text .header__text {
        margin: 0;
    }

    .faq__questions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .question {
        max-width: 600px;
        width: 95%;
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.5px solid rgba(208, 213, 221, 1);
    }

    .question__column {
        max-width: 600px;
        width: 100%;
        height: 232px;
    }

    .border__bottom1, .border__bottom2 {
        border-bottom: 0.5px solid rgba(208, 213, 221, 1);
    }








    .text_color_white {
        color: white;
    }

    .footer {
        width: 100%;
        background-color: white;
        height: 230px;
    }

    .footer .container {
        max-width: 1224px;
        width: 87%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #101828;
        padding: 24px;
        border-radius: 12px;
    }

    .footer__logo {
        margin: 0;
        padding: 0;
        max-width: 250px;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
    }

    .footer__main {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        max-width: 1176px;
        width: 90%;
        height: 54px;
    }

    .footer__item__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon__grayscale {
        filter: grayscale(90%) brightness(160%);
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        float: left;
        max-width:200px;
        width: 80%;
        height:34px;
        gap: 8px;
    }

    .footer__text {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(152, 162, 179, 1);

    }

    .footer__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .footer__bottom p{
        font-family: SFProText;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
}















@media (max-width:769px) and (min-width:426px) {

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        width: 100%;
        background-color: rgb(235, 236, 237);
    }

    .container {
        margin-left: 7%;
        width: 100%;
        height: 100%;
    }

    .header {
        margin: 0;
        position: absolute;
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 90px;
        width: 99%;
        max-width: 900px;
        border-radius: 12px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        width: 200px;
        height: 40px;
    }

    .burger__menu {
        display: block;
        z-index: 4;
        background-color: #2D66EE;
        width: 59px;
        height: 8px;
    }

    .burger__menu::before,
    .burger__menu::after {
        content: '';
        position: absolute;
        display: block;
        width: 59px;
        height: 8px;
        background-color: #2D66EE;
    }

    .burger__menu::before {
        margin-top: 16px;
    }

    .burger__menu::after {
        margin-top: -16px;
    }

    .logo {
        width: 120px;
        font-family: Inter;
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }

    .text_color_blue {
        color: #2D66EE;
    }

    .header__menu {
        display: none;
    }

    .header__contacts {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .contacts__phone {
        display: none;
    }

    .contacts__email {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 1%;
        width: 100%;
        max-width: 170px;
    }

    .image__email {
        height: 16;
        max-width: 20px;
        margin-right: 10px;
    }

    .contacts__info {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }







    .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 802px;
        background-color: rgb(235, 236, 237);
    }

    .main .container {
        margin-top: 108px;
    }

    .main__description {
        width: 383px;
        height: 204px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main .header__text {
        width: 383px;
        height: 120px;
    }

    .header__text {
        font-size: 28px;
        font-weight: 700;
        line-height: 144%;
        letter-spacing: 0.3px;
        text-align: left;
        font-family: Inter;
        color: rgba(16, 24, 40, 1);
    }

    .main .default__text {
        width: 383px;
        height: 60px;
    }

    .default__text{
        font-family: SFProText;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .main__feedback {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 383px;
        height: 356px;
        margin-top: 64px;
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    }

    .subheader__text {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 295px;
        height: 230px;
    }

    .feedback__field {
        width: 224px;
        height: 54px;
    }

    .form__label {
        color: rgba(102, 112, 133, 1);
        font-family: SFProText;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

    }

    #feedback__phone {
        padding-left: 22px;
        margin-left: -1px;
        width: 175px;
        height: 30px;
        border: none;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback__name {
        width: 200px;
        height: 30px;
        border: none;
        margin-left: -2px;
        padding-left: 2px;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback_image {
        position: absolute;
        margin-top: 6px;
        width: 20px;
        height: 20px;
    }

    .feedback__button {
        width: 165px;
        height: 40px;
        border: none;
        background-color: #2D66EE;
        padding: 11px 24px;
        color: white;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        font-family: SFProText;
        font-size: 14px;
        font-weight: 700;
    }

    .feedback__button:hover {
        background-color: #0f52ee;
    }

    .main__background__image {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        height: 1020px;
        width: 800px;
        overflow: hidden;
        padding: 120px;
        margin-top: -950px;
        margin-left: 120px;
    }

    .main__background {
        width: 290px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transform: rotate(-12deg);
    }

    .background__image {
        margin-bottom: 20px;
        width: 137px;
        height: auto;
        border-radius: 24px;
    }

    .main__image {
        width: 146px;
        box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.24),
            0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    }










    .development {
        width: 100%;
        height: 531px;
        background-color: white;
    }

    .development .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 50px;
        min-width: 680px;
        padding-right: 100px;
        max-width: 900px;
    }

    .development__technologies {
        width: 345px;
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .development .subheader__text {
        margin-top: 40px;
    }

    .development__tools {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .tool {
        line-height: 1.1px;
    }

    .tool:after {
        content: " /\00A0";
        color: #2D66EE;
    }

    .tool:last-child:after {
        content: "";
    }

    .development__space {
        margin-top: -10px;
    }

    .development__categories {
        margin-top: 135px;
        width: 233px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .development__arrow {
        margin-left: 10px;
    }

    .development__list {
        list-style-type: none;
    }

    .development__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 48px;
    }

    .development__item a {
        color: black;
        text-decoration: none;
    }

    .development__item a:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid #2D66EE;
    }










    .faq {
        width: 100%;
        height: 620px;
        background-color: white;
    }

    .faq .container {
        padding-top: 54px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .faq__questions {
        margin-left: 2%;
        width: 100%;
        height: 232px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .question {
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.5px solid rgba(208, 213, 221, 1);
    }

    .question__column {
        min-width: 600px;
        max-width: 950px;
        width: 100%;
        height: 232px;
    }

    .border__bottom2 {
        border-bottom: 0.5px solid rgba(208, 213, 221, 1);
    }








    .text_color_white {
        color: white;
    }

    .footer {
        width: 100%;
        height: 241px;
        background-color: white;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        background-color: #101828;
        border-radius: 12px;
        padding-top: 32px;
        padding-bottom: 32px;
        width: 90%;
    }

    .footer__logo {
        margin-top: 10px;
        padding: 0;
        width: 217px;
        height: 36px;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
    }

    .footer__main {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding-left: 32px;
        width: 100%;
        height: 54px;
    }

    .footer__item__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon__grayscale {
        filter: grayscale(90%) brightness(160%);
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        float: left;
        width: 170px;
        height: 54px;
        gap: 8px;
    }

    .footer__text {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(152, 162, 179, 1);

    }

    .footer__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .footer__bottom p {
        font-family: SFProText;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
}








@media (max-width:426px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        width: 100%;
        background-color: rgb(235, 236, 237);
    }

    .container {
        margin-left: 20px;
        width: 100%;
        height: 100%;
    }

    .header {
        margin: 0;
        position: relative;
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 90px;
        width: 99%;
        max-width: 409px;
        border-radius: 12px;
        z-index: 3;
        display: flex;
        align-items: center;
    }

    .burger {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        height: 20px;
        margin-left: 0;
    }

    .burger__menu {
        display: block;
        z-index: 4;
        background-color: #2D66EE;
        width: 40px;
        height: 4px;
    }

    .burger__menu::before,
    .burger__menu::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 4px;
        background-color: #2D66EE;
    }

    .burger__menu::before {
        margin-top: 8px;
    }

    .burger__menu::after {
        margin-top: -8px;
    }

    .logo {
        width: 100%;
        font-family: Inter;
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
    }

    .text_color_blue {
        color: #2D66EE;
    }

    .header__menu {
        display: none;
    }

    .header__contacts {
        display: none;
    }






    .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 1345px;
        background-color: rgb(235, 236, 237);
    }

    .main .container {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__description {
        width: 383px;
        height: 204px;
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main .header__text {
        width: 383px;
        height: 120px;
    }

    .header__text {
        font-size: 28px;
        font-weight: 700;
        line-height: 144%;
        letter-spacing: 0.3px;
        text-align: left;
        font-family: Inter;
        color: rgba(16, 24, 40, 1);
    }

    .main .default__text {
        width: 383px;
        height: 60px;
    }

    .default__text {
        font-family: SFProText;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .main__feedback {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 383px;
        height: 356px;
        margin-top: 64px;
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
        margin-bottom: 130px;
    }

    .subheader__text {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        margin: 0;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 295px;
        height: 230px;
    }

    .feedback__field {
        width: 224px;
        height: 54px;
    }

    .form__label {
        color: rgba(102, 112, 133, 1);
        font-family: SFProText;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;

    }

    #feedback__phone {
        padding-left: 22px;
        margin-left: -1px;
        width: 175px;
        height: 30px;
        border: none;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback__name {
        width: 200px;
        height: 30px;
        border: none;
        margin-left: -2px;
        padding-left: 2px;
        border-bottom: 1px solid rgba(208, 213, 221, 1);
        font-family: SFProText;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        text-align: left;
        color: rgba(16, 24, 40, 1);
    }

    #feedback_image {
        position: absolute;
        margin-top: 6px;
        width: 20px;
        height: 20px;
    }

    .feedback__button {
        width: 165px;
        height: 40px;
        border: none;
        background-color: #2D66EE;
        padding: 11px 24px;
        color: white;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        font-family: SFProText;
        font-size: 14px;
        font-weight: 700;
    }

    .feedback__button:hover {
        background-color: #0f52ee;
    }

    .main__background__image {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        height: 1220px;
        width: 800px;
        overflow: hidden;
        padding: 120px;
        margin-top: 130px;
        margin-left: -300px;
    }

    .main__background {
        width: 300px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transform: rotate(-12deg);
    }

    .background__image {
        margin-bottom: 20px;
        width: 137px;
        height: auto;
        border-radius: 24px;
    }

    .main__image {
        width: 146px;
        box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.24),
            0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    }










    .development {
        width: 100%;
        height: 880px;
        background-color: white;
    }

    .development .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 10px;
        min-width: 680px;
        max-width: 900px;
    }

    .development__technologies {
        width: 345px;
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .development .subheader__text {
        margin-top: 40px;
    }

    .development__tools {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .tool {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.1px;
    }

    .tool:after {
        content: " /\00A0";
        color: #2D66EE;
    }

    .tool:last-child:after {
        content: "";
    }

    .development__categories {
        width: 233px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .development__arrow {
        margin-left: 10px;
    }

    .development__list {
        list-style-type: none;
        padding: 0;
    }

    .development__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 48px;
    }

    .development__item a {
        font-family: SFProText;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    .development__item a:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid #2D66EE;
    }










    .faq {
        width: 100%;
        height: 620px;
        background-color: white;
    }

    .faq .container {
        padding-top: 34px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .faq__questions {
        margin-left: 2%;
        width: 100%;
        height: 232px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .question {
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.5px solid rgba(208, 213, 221, 1);
    }

    .question__column {
        min-width: 200px;
        max-width: 500px;
        width: 90%;
    }

    .border__bottom2 {
        border-bottom: 0.5px solid rgba(208, 213, 221, 1);
    }








    .text_color_white {
        color: white;
    }

    .footer {
        width: 100%;
        height: 350px;
        background-color: white;
    }

    .footer .container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        background-color: #101828;
        border-radius: 12px;
        padding-top: 32px;
        padding-bottom: 32px;
        width: 100%;
    }

    .footer__logo {
        margin-top: 10px;
        padding: 0;
        width: 217px;
        height: 36px;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
    }

    .footer__main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding-left: 32px;
        width: 100%;
        height: 142px;
    }

    .footer__item__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon__grayscale {
        filter: grayscale(90%) brightness(160%);
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        float: left;
        width: 170px;
        height: 54px;
        gap: 8px;
    }

    .footer__text {
        font-family: SFProText;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(152, 162, 179, 1);

    }

    .footer__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .footer__bottom p {
        font-family: SFProText;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
}
